# Promising or Predatory? Online Education in Non-Profit and For-Profit Universities
## By Christian Michael Smith, Amber D. Villalobos (equal authors), Laura T. Hamilton, and Charlie Eaton 
### Coded by Amber D. Villalobos and Christian Michael Smith. 
#### This notebook cleans and then multiply imputes data for Table 5 and Figure 4 of the BPS analysis. This code should be run after running c_data_rudl notebook 
Source: Data are from the Beginning Postsecondary Students Longitudinal Study 12/17 (BPS)
Restricted Use Dataset.

In [2]:
cd P:\pr-nces-rudl-18040008\HERElab\repositories\predatory-inclusion-in-online-ed\d_data

P:\pr-nces-rudl-18040008\HERElab\repositories\predatory-inclusion-in-online-ed\
> d_data

In [3]:
use bps17_schoolinfo_rudl.dta, clear

In [4]:
 quietly {

*******************************************************************
************First Institution '11-'12 Entirely Online**************
*******************************************************************
*	Name: altonlnd
*	Description: Indicates whether the student's entire degree program 
*	at the first institution was taught online.
*	Notes: Only applies to respondents who took all classes online. 

gen firstonline=.
replace firstonline=0 if altonlnd==0
replace firstonline=1 if altonlnd==1
tab firstonline altonlnd
label var firstonline "First Degree Entirely Online"
label define Lfirstonline 0 "No" 1 "Yes"
label val firstonline Lfirstonline
tab firstonline

}

.  quietly {

.

In [5]:
 quietly {

*******************************************************************
************First Institution '11-'12 Four Year and Online**************
*******************************************************************
*	Name: fsector and altonlnd
*	Description: Indicates control and level of first institution of first
*	instituion attended in 11-12; fsector 1,2,3 are all 4-year; (altonlnd==1 is online )
*	Notes: 

gen firstfouryearonline2=.
replace firstfouryearonline2=0 if fsector==1 | fsector==2 | fsector==3
replace firstfouryearonline2=1 if (fsector==1 & altonlnd==1)  | ///
(fsector==2 & altonlnd==1)  | (fsector==3 & altonlnd==1)
label var firstfouryearonline2 "First Degree Four Year and Online"
label define Lfirstfouryearonline2 0 "No" 1 "Yes"
label val firstfouryearonline2 Lfirstfouryearonline2
 }

.  quietly {

.

In [6]:
quietly {
*******************************************************************
*****First Intitution is Four Year: Online or Not and Sector *****
*******************************************************************
*	Name: combines firstfouryearonline2 and fsector
*	Description: For ALL whose first institution was a four year, 
*	indicates whether online and which sector.
*	Notes: This was updated July 5, 2022. Want to use fsector across
*	the variables for first yaer institution as opposed to the 
*	previously used fcontrol in firsttype10

gen firsttype10=.
replace firsttype10=0 if firstfouryearonline2==0 & fsector==1
replace firsttype10=1 if  firstfouryearonline2==0 & fsector==2
replace firsttype10=2 if  firstfouryearonline2==0 & fsector==3
replace firsttype10=3 if firstfouryearonline2==1 & fsector==1
replace firsttype10=4 if  firstfouryearonline2==1 & fsector==2
replace firsttype10=5 if  firstfouryearonline2==1 & fsector==3
label var firsttype10 "First institution four year, online, and sector"
label define Lfirsttype10 0 "Offline Public" 1 "Offline Private Non Prof" ///
2 "Offline Private For Prof" 3 "Online Public" 4 "Online Private Non Prof" 5 "Online Private For Prof"
label val firsttype10 Lfirsttype10
}

. quietly {

.

In [7]:
quietly {

*******************************************************************
************Last Institution Entirely Online***********************
*******************************************************************
*	Name: degonln17
*	Description: Based on 2017 student interview, indicates whether
*	the respondent's entire certificate or degree program at their
*most recent institution is online.
*	Notes: 

gen lastonline=.
replace lastonline=0 if degonln17==0
replace lastonline=1 if degonln17==1
tab lastonline degonln17
label var lastonline "Most Recent Degree Entirely Online"
label define Llastonline 0 "No" 1 "Yes"
label val lastonline Llastonline
}

. quietly {

.

In [8]:
quietly {

*******************************************************************
************Last Institution Attended was 4 year and Online********
*******************************************************************
*	Name: ittyla6y and degonln17
*	Description: Based on 2017 student interview, indicates type of institution last attended in 2017 for all respondents (four year is ittyla6y == 1,2,3). degonln17 indicates whether most recent instituion was entirely online. 
*	Notes: 

gen lastfouryearonline2=.
replace lastfouryearonline2=0 if ittyla6y==1 | ittyla6y==2 | ittyla6y==3 
replace lastfouryearonline2=1 if (ittyla6y==1 & degonln17==1) | (ittyla6y==2 & degonln17==1) | (ittyla6y==3 & degonln17==1)
label var lastfouryearonline2 "Last Degree Four Year and Online"
label define Llastfouryearonline2  0 "no" 1 "yes"
label val lastfouryearonline2 Llastfouryearonline2
}

. quietly {

.

In [9]:
quietly {
*******************************************************************
**** Last Intitution is Four Year: Online or Not and Control *****
*******************************************************************
*	Name: combines lastfouryearonline2 and ittyla64
*	Description: For ALL whose last institution was a four year, indicates whether online and which sector.
*	Notes: This was updated July 5, 2022 to use ittyla6y. we want to use this across al variables for last institution as opposed to the previously used itcla6y that was used in lasttype10 

gen lasttype10=.
replace lasttype10=0 if lastfouryearonline2==0 & ittyla6y==1
replace lasttype10=1 if  lastfouryearonline2==0 & ittyla6y==2
replace lasttype10=2 if  lastfouryearonline2==0 & ittyla6y==3
replace lasttype10=3 if lastfouryearonline2==1 & ittyla6y==1
replace lasttype10=4 if  lastfouryearonline2==1 & ittyla6y==2
replace lasttype10=5 if  lastfouryearonline2==1 & ittyla6y==3
label var lasttype10 "Last institution four year, online, and sector"
label define Llasttype10 0 "Offline Public" 1 "Offline Private Non prof" 2 "Offline Private For Prof" 3 "Online Public" 4 "Online Private Non Prof" 5 "Online Private For Prof"
label val lasttype10 Llasttype10
}

. quietly {

.

In [10]:
quietly {
*******************************************************************
**** Ever For Profit? Four year only. ONline or Brick and Mortar *****
*******************************************************************
*	Name: combines firsttype10 (first INSTITUTION is four year and includes sector and whether online and lasttype1010 (last institution is four year and includes sector and whether online). both of these were updated July 5 2022 to streamline the variables used in firstfouryearonline2 and lastfouryearonline2. 
*	Description: For ALL whose first and last institutions were four year, online or brick and mortar, this variable indicates whether ever in a for profit. 
*	Notes: categories 2 and 5 are the for profits 



gen everforprofit10=.
replace everforprofit10=0 if (firsttype10==0 & lasttype10==0) | (firsttype10==0 & lasttype10==1) |(firsttype10==0 & lasttype10==3) |(firsttype10==0 & lasttype10==4) | (firsttype10==0 & lasttype10==.) | (firsttype10==1 & lasttype10==0) | (firsttype10==1 & lasttype10==1) |(firsttype10==1 & lasttype10==3) |(firsttype10==1 & lasttype10==4) | (firsttype10==1 & lasttype10==.) | (firsttype10==3 & lasttype10==0) | (firsttype10==3 & lasttype10==1) |(firsttype10==3 & lasttype10==3) |(firsttype10==3 & lasttype10==4) | (firsttype10==3 & lasttype10==.) | (firsttype10==4 & lasttype10==0) | (firsttype10==4 & lasttype10==1) |(firsttype10==4 & lasttype10==3) |(firsttype10==4 & lasttype10==4) | (firsttype10==4 & lasttype10==.) 
replace everforprofit10=1 if firsttype10==2 | firsttype10==5 |  (firsttype10==0 & lasttype10==2) | (firsttype10==0 & lasttype10==5) | (firsttype10==1 & lasttype10==2) | (firsttype10==1 & lasttype10==5) | (firsttype10==2 & lasttype10==2) | (firsttype10==2 & lasttype10==5) | (firsttype10==3 & lasttype10==2) | (firsttype10==3 & lasttype10==5) | (firsttype10==4 & lasttype10==2) | (firsttype10==4 & lasttype10==5) | (firsttype10==5 & lasttype10==2) | (firsttype10==5 & lasttype10==5) 
label var everforprofit10 "Ever attnded a four-year for profit school"
label define Leverforprofit10 0 "No" 1 "Yes"
label val everforprofit10 Leverforprofit10

}

. quietly {

.

In [11]:
quietly {

*******************************************************************
**** Ever Private *****
*******************************************************************
*	Name: combines firsttype10 (first INSTITUTION is four year and includes sector and whether online and lasttype10 (last institution is four year and includes sector and whether online)
*	Description: For ALL whose first and last institutions were four year, online or brick and mortar, this variable indicates whether ever private
*	Notes: categorices 1,2,4 and 5 are the [privates]
*	*	This is updated as of July 5, 2022. We want to include those who started at 4 years but did  not end at 4 years as a 0 and started at 4 years privates but didn't end at 4 years in our 1 
*	we want all whose first year was, so I can use or statements in the 1 category for the firsttype10

gen everprivate10=.
replace everprivate10=0 if (firsttype10==0 & lasttype10==0) | (firsttype10==0 & lasttype10==3) | (firsttype10==3 & lasttype10==0) | (firsttype10==3 & lasttype10==3) | (firsttype10==0 & lasttype10==.) | (firsttype10==3 & lasttype10==.)
replace everprivate10=1 if firsttype10==1 | firsttype10==2 | firsttype10==4 | firsttype10==5 | (firsttype10==0 & lasttype10==1)   | (firsttype10==0 & lasttype10==2) | (firsttype10==0 & lasttype10==4) | (firsttype10==0 & lasttype10==5)  | (firsttype10==1 & lasttype10==1)   | (firsttype10==1 & lasttype10==2) | (firsttype10==1 & lasttype10==4) | (firsttype10==1 & lasttype10==5) | (firsttype10==2 & lasttype10==1)   | (firsttype10==2 & lasttype10==2) | (firsttype10==2 & lasttype10==4) | (firsttype10==2 & lasttype10==5) | (firsttype10==3 & lasttype10==1)   | (firsttype10==3 & lasttype10==2) | (firsttype10==3 & lasttype10==4) | (firsttype10==3 & lasttype10==5) | (firsttype10==4 & lasttype10==1)   | (firsttype10==4 & lasttype10==2) | (firsttype10==4 & lasttype10==4) | (firsttype10==4 & lasttype10==5) | (firsttype10==5 & lasttype10==1)   | (firsttype10==5 & lasttype10==2) | (firsttype10==5 & lasttype10==4) | (firsttype10==5 & lasttype10==5) 
label var everprivate10 "Ever attnded a private school"
label define Leverprivate10 0 "No" 1 "Yes"
label val everprivate10 Leverprivate10 

}

. quietly {

.

In [12]:
quietly {

*******************************************************************
************Among 4-years, ever in a four-year online program******
** 		updated with firstfouryearonline2 which uses fsector as opposed to ugdeg. 
*******************************************************************

*	Name: firstfouryearonline2 , lastfouryearonline2
*	Description: Uses both first and last 
*	Note: we dont want to use or statements for our 0 category bc some test 1 and lastfouryearonline are the same people and we dont want to double count them. 
*	This is updated as of July 5, 2022. We want to include those who started at 4 years but did  not end at 4 years as a 0 and started at 4 years online but didn't end at 4 years in our 1 

gen everonline10=.
replace everonline10=0 if (firstfouryearonline2==0 & lastfouryearonline2==0) | (firstfouryearonline2==0 & lastfouryearonline2==.)
replace everonline10=1 if (firstfouryearonline2==1 & lastfouryearonline2==1) | (firstfouryearonline2==1 & lastfouryearonline2==0) | (firstfouryearonline2==0 & lastfouryearonline2==1) | (firstfouryearonline2==1 & lastfouryearonline2==.)
label var everonline10 "Student ever attended a four-year online program"
label define Leveronline10 0 "No" 1 "Yes"
label val everonline10 Leveronline10

}

. quietly {

.

In [13]:
quietly {
*******************************************************************
************Gender**************************************************
*******************************************************************
*	Name: gender
*	Description: indicates student sex

gen female=.
replace female=0 if gender==1
replace female=1 if gender==2
label var female "female"
label define Lfemale 0 "male" 1 "female"
label val female Lfemale
}

. quietly {

.

In [14]:
quietly {
*******************************************************************
************Race***************************************************
*******************************************************************
*	Name: race
*	Description: The student's race/ethnicity with Hispanic or Latino origin (HISPANIC=1) as a separate category.

gen RACE=.
replace RACE=0 if race==1
replace RACE=1 if race==2
replace RACE=2 if race==3
replace RACE=3 if race==4
replace RACE=4 if race==5 | race==6 | race==7
label var RACE "Race"
label define LRACE 0 "white" 1 "black" 2 "Hispanic" 3 "Asian" 4 "AI, HI, Multi"
label val RACE LRACE
tabulate RACE, gen (races) 
}

. quietly {

.

In [15]:
quietly {

*******************************************************************
************Race10***************************************************
*******************************************************************
*	Name: race
*	Description: The student's race/ethnicity with Hispanic or Latino origin (HISPANIC=1) as a separate category.
*	Notes: I group 5,6 as one since they are small 
// updated july 11 2022 multiracial alone 

gen RACE10=.
replace RACE10=0 if race==1
replace RACE10=1 if race==2
replace RACE10=2 if race==3
replace RACE10=3 if race==4
replace RACE10=4 if race==5 | race==6 
replace RACE10=5 if race==7
label var RACE10 "Race"
label define LRACE10 0 "white" 1 "black" 2 "Hispanic" 3 "Asian" 4 "AI, HI" 5 "Multi"
label val RACE10 LRACE10
tabulate RACE10, gen (races10) 

}

. quietly {

.

In [16]:
quietly {
*** AGE *************************************************
*******************************************************************
*	Name: age
* 	Description: The student's age as of 12/31/2011. Aid applicants who were age 24 on or before this date were automatically determined to be independent students.
*	Notes: 

gen AGE=age
replace AGE=. if AGE==-5 | AGE==-9
sum age 
label var AGE "respondent's age as of 2011"

}

. quietly {

.

In [17]:
quietly {
//		New Pell variables
//		name: pell12
//		description: total amount of federal pell grants received at all institutions attended in '11-'12
gen pell=.
replace pell=0 if pell12 ==0
replace pell=1 if pell12 >=1
label var pell "Received pell grant in '11- '12"
label define Lpell 0 "No" 1 "Yes"
label val pell Lpell
}

. quietly {

.

In [18]:
quietly {
*******************************************************************
************Parent's Highest Level of Ed***************************
*******************************************************************
*	Name: pareduc
*	Description:  The highest level of education achieved by either parent of the student as of 2011-12.
*	Notes: I dichotimize for parent has BA

gen pared=.
replace pared=0 if pareduc==0 | pareduc==1 | pareduc==2 | pareduc==3
replace pared=1 if pareduc==4 | pareduc==5
replace pared=2 if pareduc==6 | pareduc==7 | pareduc==8 | pareduc==9
label var pared "Parent's highest level of education"
label define Lpared 0 "less than associated" 1 "Associate's or some college" 2 "BA +"
label val pared Lpared
tabulate pared, gen(pared)
}

. quietly {

.

In [19]:
quietly {

*******************************************************************
************Parent's Highest Level of Ed CONTINUOUS****************
*******************************************************************
*	Name: pareduc
*	Description:  The highest level of education achieved by either parent of the student as of 2011-12.
*	Notes: This is updated as of July 8, 2022 to make continuous using Christian's coding scheme. 
//. missing if cateory 0, do not know either parent's education 
//10 if category 1 did not complete hs
//11 if category 2 high school or equivalent
//13 if category 3 vocational/technical training 
// 14 if category 4 associates
//14 if category 5 some college but no degreee
//16 if category 6 bachelor's degress
//18 if catefoty 7 masters or equivalent
//21 if cateogory 8 doctoral profesional or cateogry 9 doctoral research. 

gen pared10=.
replace pared10=10 if pareduc==1
replace pared10=12 if pareduc==2
replace pared10=13 if pareduc==3
replace pared10=14 if pareduc==4
replace pared10=14 if pareduc==5
replace pared10=16 if pareduc==6
replace pared10=18 if pareduc==7
replace pared10=21 if pareduc==8 | pareduc==9
label var pared10 "Parent's highest level of education continuous"

}

. quietly {

.

In [20]:
quietly {

*******************************************************************
************ACT SCORE ********************************
*******************************************************************
*	Name: teactder
*	Description:  ACT composite score or converted from SAT score; applies to all respondents under age 30 who took ACT or SAT as of 2012 NPSAS
*	Notes: 

gen act=teactder
replace act=. if teactder==-3
sum act
label var act "act score'"
 }

. quietly {

.

In [21]:
quietly {
*******************************************************************
************ High School GPA ********************************
*******************************************************************
*	Name: hsgpa
* 	Description: self reported HS GPA for those under 30 as of NPSAS 12
*	Notes: 

gen gpa_=.
replace gpa_=0 if hsgpa==1 | hsgpa==2 | hsgpa==3
replace gpa_=1 if hsgpa==4 | hsgpa==5
replace gpa_=2 if hsgpa==6 | hsgpa==7
label var gpa_  "High school gpa" 
label define Lgpa_ 0 "1.9 or less" 1 "2.0-2.9" 2 "3.0-4.0"
label val gpa_ Lgpa_ 
tabulate gpa_, gen(gpa_)
}

. quietly {

.

In [22]:
quietly {
*******************************************************************
************ High School GPA-continuous*******************************
*******************************************************************
*	Name: hsgpa
* 	Description: self reported HS GPA for those under 30 as of NPSAS 12
*	Notes: updated to be continuous july 11, 2022

gen gpa10=.
replace gpa10=0.75 if hsgpa==1 
replace gpa10=1.25 if hsgpa==2
replace gpa10=1.75 if hsgpa==3 
replace gpa10=2.25 if hsgpa==4
replace gpa10=2.75 if hsgpa==5
replace gpa10=3.25 if hsgpa==6 
replace gpa10=3.75 if hsgpa==7
label var gpa10  "High school gpa continuous" 
}

. quietly {

.

In [23]:
quietly {
//		Average Hours worked per week in all paid jobs while enrolled in 11-12
//      categorical version 
//		0, 1-20, 21+

gen works_=.
replace works_=0 if hrswk12==0
replace works_=1 if hrswk12>=1 & hrswk12<=20
replace works_=2 if hrswk12>=21 & hrswk12<=120
tab works
label var works_ "Hours per week worked while enrolled"
label define Lworks_ 0 "Zero" 1 "1-20" 2 "21 +"
label val works_ Lworks_
tabulate works, generate(works_)
}

. quietly {

.

In [24]:
quietly{

//		Average Hours worked per week in all paid jobs while enrolled in 11-12
//		continuous 
//		new as of July 11, 2022 , continous 

gen works10=hrswk12
replace works10=. if hrswk12==-8
sum works10
label var works10 "hours worked per week in all paid jobs"
}

. quietly{

.

In [25]:
quietly {
//		Trichotomized commuter 
//		I leave out category 4 "attended more than one instituion"
gen commuter3=.
replace commuter3=0 if localres==1 
replace commuter3=1 if localres==2 
replace commuter3=2 if localres==3
label var commuter3  "Student lives with parents 11-12" 
label define Lcommuter3 0 "on campus"  1"off campus" 2 "lives with parents" 
label val commuter3 Lcommuter3 
tabulate commuter3, gen(commuter3) 
}

. quietly {

.

In [26]:
quietly {
*******************************************************************
************ HBCU Status ***********
*******************************************************************
*	Name: hbcu
* 	Description: whether institution attended in 11-12 is HBCU
*	Notes: applies to all respondents 

gen HBCU=.
replace HBCU=0 if hbcu==0
replace HBCU=1 if hbcu==1
label var HBCU "First institution is hbcu" 
label define LHBCU 0 "no" 1 "yes"
label val HBCU LHBCU
}

. quietly {

.

In [27]:
quietly {
*******************************************************************
************ Highest degree offered by first institution***********
*******************************************************************
*	Name: fsecdoc
* 	Description: whether institution attended in 11-12 is doctorate granting 
*	Notes: applies to all respondents ; I leave out category 1 which is non four-year institutions. Our analysis only includes four-year institutions. 

gen highestdegree=.
replace highestdegree=0 if fsecdoc==2
replace highestdegree=1 if fsecdoc==1
label var highestdegree "Highest degreee offered at first institution attended" 
label define Lhighestdegree 0 "not doctorate granting" 1 "doctorate granting"
label val highestdegree Lhighestdegree
tabulate highestdegree, gen(highestdegree)
}

. quietly {

.

In [28]:
quietly {

*******************************************************************
************BA attained through June 2017**************************
*******************************************************************
*	Name: athty6y
*	Description: Indicatesthe highest degree attained anywhere through June 2017.
*	Notes: 

gen ba=.
replace ba=0 if athty6y==0 | athty6y==1 | athty6y==2
replace ba=1 if athty6y==3
tab ba athty6y
label var ba "BA Attained as of 2017"
label define Lba 0 "Less than BA" 1 "BA"
label val ba Lba
}

. quietly {

.

In [29]:
quietly {

*******************************************************************
************ Cumulative sub and unsub Loans for undergrad *********
*******************************************************************
*	Name: stfucum17
*	Description: Indicates the cumulative Direct Subsidized and Unsubsidized Loan (also known as subsidized and unsubsidized Stafford Loans) amount the respondent borrowed for undergrad through 2017.
*	Notes: all respondents 

gen subunsub_under=stfucum17
replace subunsub_under=. if subunsub_under==-5
sum subunsub_under
label var subunsub_under "Cumulative Direct and Subsidized Loans for Undergrad"
}

. quietly {

.

In [30]:
quietly {

*******************************************************************
************ Respondent borrowed or not (using undergrad loan amount) ********************************
*******************************************************************
*	Name: stfucum17
* 	Description:stfucum17 applies to all respondents. 

gen borrowed_loans=.
replace borrowed_loans=0 if stfucum17==0
replace borrowed_loans=1 if stfucum17>=1 & stfucum17 <=61249
label var borrowed_loans  "borrowed loans for undergrad" 
label define Lborrowed_loans 0 "No"  1"Yes" 
label val borrowed_loans Lborrowed_loans
}

. quietly {

.

In [31]:
quietly {

*******************************************************************
************ Ever Defaulted on Undergrad Loans ************
*******************************************************************
*	Name: everdef17
*	Description: Indicates whether respondent ever defauled on a sub or unsubsidized loan through 2017
*	Notes: all respondents who took out federal loans for undergrad through 2017

/// default
gen everdefaulted=.
replace everdefaulted=0 if everdef17==0
replace everdefaulted=1 if everdef17==1
tab everdef17 everdefaulted
label var everdefaulted  "Student ever defaulted on loan"
label define Leverdefauled 0 "no" 1 "yes"
label val everdefaulted Leverdefaulted
}

. quietly {

.

In [32]:
quietly {
*******************************************************************
************ Ever Delinquent ********************************
*******************************************************************
*	Name: dlqever17
* 	Description: whether respondent ever delinquent on a loan through 2017
*	Notes: applies to respondents who took out federal loans for undergrad through 2017

gen delinquent=.
replace delinquent=0 if dlqever17==0
replace delinquent=1 if dlqever17==1
label var delinquent  "Ever Delinquent" 
label define Ldelinquent 0 "No"  1"Yes" 
label val delinquent Ldelinquent
}

. quietly {

.

In [33]:
quietly {
*******************************************************************
************ Ever Forbearance, 2017 ********************************
*******************************************************************
*	Name: forbar17
* 	Description: whether respondent ever had forbearance through 2017
*	Notes: applies to respondents who took out federal loans for undergrad through 2017

gen forbearance=.
replace forbearance=0 if forbar17==0
replace forbearance=1 if forbar17==1
label var forbearance  "Ever Forbearance" 
label define Lforbearance 0 "No"  1"Yes" 
label val forbearance Lforbearance
}

. quietly {

.

In [34]:
quietly {
*******************************************************************
************ Monthly Repayment in 2017 ********************************
*******************************************************************
*	Name: fedrpy17
* 	Description: the monely payment amount for all federal student loans in 2017
*	Notes: applies to respondents who are currently repaying federal loans 

gen repayment17= fedrpy17
replace repayment17=. if repayment17==-3
label var repayment17 "Monthly repayment amount 2017"
sum repayment17
}

. quietly {

.

In [35]:
quietly {
**Creating squared and cubed terms for act (for IPWRA analysis) 
gen act2= act^2
gen act3= act^3  
}

. quietly {

.

In [36]:
quietly {

///		Creating id for the npsas institution (first institution attended and surveyed at)
//		These data were merged in from the dataset i labeled "npsasid"
//		These data come from the BPS data file for "School Info"
//		I first reshaped them as wide in the do file "BPS_SchoolID). 
//		There were up to 8 institutions listed for each respondent
//		Thus, there were up to 8 institution ids per respondent
//		I used unitid (the unit id for each school) and npsassch (an indicator for whether the school is the npsas school from which the respondent was first sampled and surveyed)
//		I generate a variable for each school called cluster, as the unit id for each school if that school IS the npsas school. if not the npsas school, it is defined as missing
//		I then use roemax to assign each person the unitid of thier npsas school 
//		I will use this variable to cluster by school id of the sampled school 
gen cluster1= unitid1 if npsassch1==1
gen cluster2= unitid2 if npsassch2==1
gen cluster3= unitid3 if npsassch3==1
gen cluster4= unitid4 if npsassch4==1
gen cluster5= unitid5 if npsassch5==1
gen cluster6= unitid6 if npsassch6==1
gen cluster7= unitid7 if npsassch7==1
gen cluster8= unitid8 if npsassch8==1
egen cluster9= rowmax (cluster1 cluster2 cluster3 cluster4 cluster5 cluster6 cluster7 cluster8)
}

. quietly {

.

In [37]:
// begin multiple imputation code

Exception in thread Stata:
Traceback (most recent call last):
  File "C:\Program Files\Python37\lib\threading.py", line 926, in _bootstrap_inner
    self.run()
  File "C:\Program Files\Stata17\utilities\pystata\core\stout.py", line 169, in run
    raise SystemError(output)
SystemError: / is not a valid command name
r(199);

In [38]:
quietly {
//      Create binary indicator of initial 4yr attendance
gen fouryear = (everonline10 != .)
la var fouryear "R's first college is 4yr"
}

. quietly {

.

In [39]:
quietly {
//		Rename dichotomous indicator of whether R is Black
rename races2 Black
}

. quietly {

.

In [40]:
quietly {
//		Create trichotomous measure of 4yr online status
gen everonline10_tri = everonline10
replace everonline10_tri = 2 if everonline10==.
la def online10 0 "4yr, never online" 1 "4yr, ever online" 2 "Not 4yr"
la values everonline10_tri online10
}

. quietly {

.

In [41]:
quietly {
//		Code everprivate10 as private FOUR-YEAR college indicator without missingness (=0 even if private 2yr)
replace everprivate10 = 0 if everprivate10==.
la var everprivate10 "Ever attended a private 4yr school"
}

. quietly {

.

In [42]:
quietly {
//		Set multiple imputation
mi set wide
}

. quietly {

.

In [43]:
quietly {
//		Register data and run imputations
mi register imputed  gpa10 act commuter3 works10 pared10
mi register regular  fouryear female RACE10 pell fsecdoc HBCU everprivate10 subunsub_under ba everonline10_tri
mi impute chained (mlogit) commuter3 (pmm, knn(10)) act gpa10 works10 pared10 = female i.RACE10 pell AGE i.fsecdoc i.everonline10_tri HBCU subunsub_under ba, add(5) augment
}

. quietly {

.

In [44]:
quietly {
//		Estimate probit model of 4yr using imputed data
mi estimate, saving(miests, replace): probit fouryear i.female i.RACE10 i.pell c.pared10##c.pared10 c.AGE##c.AGE c.gpa10##c.gpa10 c.act##c.act
}

. quietly {

.

In [45]:
quietly {
//		Yield probit indices
mi predict xb_mi using miests
}

. quietly {

.

In [46]:
quietly {
//		Yield predicted probabilities from probit indices
mi xeq: gen prfouryear = normprob(xb_mi)
la var prfouryear "Predicted probability of being a 4yr college student"
}

. quietly {

.

In [47]:
quietly {
//		Compare distribution of binary outcome to that of predicted probability of outcome
summ fouryear prfouryear
}

. quietly {

.

In [48]:
quietly {
//		Modify weights (once for wtb, once for wta)
gen wtb4yr = wtb000*(1/prfouryear)
gen wta4yr = wta000*(1/prfouryear)
}

. quietly {

.

In [49]:
quietly {
//		Create quadratic and cubic terms for continuous variables
gen AGE_2 = AGE^2
gen AGE_3 = AGE^3
foreach var in gpa10 pared10 works10 {
	mi xeq: gen `var'_2 = `var'^2
	mi xeq: gen `var'_3 = `var'^3
}
}

. quietly {

.

In [50]:
quietly {
//		Code sector indicators
gen forprofit = everforprofit10
gen nonprofit = (everforprofit10==0)
replace nonprofit = . if everforprofit10==.
gen both = 1
replace both = . if everforprofit10==.
}

. quietly {

.

In [51]:
quietly {
//		Code logged debt variables
gen logdebt1 = log(subunsub_under+1)
gen logdebt = log(subunsub_under)
}

. quietly {

.

In [52]:
quietly{

//		Give outcomes shorter names to accommodate convention for naming global macros
rename everdefaulted dflt
rename delinquent dlq 
rename forbearance fbr
rename borrowed_loans borr
}

. quietly{

.

In [53]:
//		Save dataset with new weights and multiply imputed values
save  mi_bps_vars_2022_rudl.dta, replace

. //              Save dataset with new weights and multiply imputed values
. save  mi_bps_vars_2022_rudl.dta, replace
file mi_bps_vars_2022_rudl.dta saved

.